/logs
/.settings

geodashboard-client/bin
geodashboard-common/bin
geodashboard-web/bin


/geodashboard-shapefile-importer

geodashboard-client/.settings
geodashboard-common/.settings
geodashboard-web/.settings
geodashboard-server/.settings/geodashboard-common
geodashboard-web/src/main/webapp/WEB-INF/com/example
geodashboard-web/vault