/logs
/.settings

geodashboard-client/bin
geodashboard-common/bin
geodashboard-web/bin


/geodashboard-shapefile-importer

geodashboard-client/.settings
geodashboard-common/.settings
geodashboard-web/.settings
geodashboard-server/.settings/geodashboard-common
/geodashboard-common
/geodashboard-client
/geodashboard-server
/geodashboard-web
