<form #form="ngForm" name="form" class="modal-form">
  <div>
    <fieldset>
      <section class="form-container">


<div>
  <div class="label-holder">
    <strong><localize key="dataUploader.label"></localize></strong>
  </div>
  <div class="holder">
    <span class="text">
      <input [(ngModel)]="sheet.label" name="label" type="text" required asyncValidator [validator]="this" #label="ngModel" />
    </span>
    <div class="inline-error-message">
      <p *ngIf="!label.valid">
        <localize key="dataUploader.unique"></localize>
      </p>    
    </div>      
  </div> 
  <div class="label-holder">
    <label><localize key="dataset.source"></localize></label>
  </div>          
  <div class="holder" >
    <span class="text">
      <textarea [(ngModel)]="sheet.source" name="source"></textarea>
    </span>
  </div>
  <div class="label-holder">
    <label><localize key="dataset.description"></localize></label>
  </div>          
  <div class="holder" >
    <span class="text">
      <textarea [(ngModel)]="sheet.description" name="description"></textarea>
    </span>
  </div>
  <div class="label-holder">
    <strong><localize key="dataUploader.country"></localize></strong>
  </div>
  <div class="holder">
    <div class="row-holder">
      <div class="box">
        <select class="select-area" [(ngModel)]="sheet.country" name="country" required>
          <option value=""></option>
          <option *ngFor="let opt of options.countries" [value]="opt.value">{{opt.label}}</option>
        </select>      
      </div>
    </div>
  </div> 
</div>

      </section>        
    </fieldset>    
    
    <paging [form]="form" [page]="page"></paging>
  </div>
</form>