<div class="body">
<div id="container">
  <div>
    <div id="geodash-landing-top-div">
      <header id="header">
        <div id="header-link-container" class="text-right">
          <a routerLink="/menu" [title]="'userMenu.menuTooltip' | localize">
            <img id="logo-icon" class="img-responsive" [src]="context + '/logo/view?id=logo'" alt="logo"/>
          </a>
          <p id="user-link-container" class="text-right">                
            <span *ngIf="isAdmin">
              <a class="user-command-link" routerLink="/admin"><localize key="geoprismLanding.administration"></localize></a>
              <i class="user-command-link"> | </i>          
            </span>
            <a id="account-btn" class="user-command-link link-active" (click)="account()"><localize key="userDashboards.account"></localize></a>
            <i class="user-command-link"> | </i>
            <a class="user-command-link" (click)="logout()"><localize key="userDashboards.logout"></localize></a>
          </p>
        </div>
        <div class="row-fluid header-logo-row">
          <div class="hidden-xs col-md-1"></div>
          <div class="col-md-8">
            <img id="logo" class="pull-left img-responsive" [src]="context + '/logo/view?id=banner'" alt="banner"/>
          </div>
          <div class="hidden-xs col-md-3"></div>
        </div>         
      </header>
    </div>   
     
    <div id="geodash-landing-bottom-div">
      <div id="mask"></div>
      <div class="nav-icon-container container-fluid">
        <div class="row-fluid vertical-center-row">
          <div class="col-sm-4 hidden-xs"></div>
          <div class="col-xs-12 col-sm-4">
            <div class="row-fluid">
              <div *ngFor="let application of applications" class="col-xs-12 col-sm-6 text-center" (click)="open(application)">
                <div [id]="application.id" class="nav-option">
                  <img class="nav-icon-img img-responsive" [src]="context + '/' + application.src" alt="Navigation" />
                  <h3 class="nav-icon-img-label">{{application.label}}</h3>
                </div>                
              </div>
            </div>
            <!-- TO ADD MORE NAV OPTIONS SIMPLY ADD ANOTHER ROW-FLUID WITH CONTENTS LIKE ABOVE -->
          </div>
          <div class="col-sm-4 hidden-xs"></div>
        </div>
      </div>
            
      <div id="geodash-landing-footer">
        <h4><localize key="geoprismLanding.footerMessage"></localize></h4>
      </div>
    </div>
  </div>
  
</div>
</div>
