<div>
  <message ></message>  

  <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid && onSubmit()">    
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="heading">
          <h1><localize key="forgotpassword-complete.header"></localize></h1>
        </div>
        <fieldset>
          <div class="row-holder">
            <div *ngIf="!passwordIsReset" class="label-holder">
              <label><localize key="forgotpassword-complete.token"></localize></label>
            </div>
            <div *ngIf="!passwordIsReset" class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="token" name="token" required [readonly]="true">
              </span>
            </div>
            <div *ngIf="!passwordIsReset" class="label-holder">
              <label><localize key="forgotpassword-complete.newPassword"></localize></label>
            </div>
            <div *ngIf="!passwordIsReset" class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="newPassword" name="newPassword" required>
              </span>
            </div>
            <div *ngIf="passwordIsReset" class="forgotpassword-complete-password-is-reset">
              <localize key="forgotpassword-complete.passwordIsReset"></localize>
            </div>
          </div>
            
          
          <div class="row-holder">
            <div class="label-holder">
            </div>                    
            <div class="holder">
              <div *ngIf="!passwordIsReset" class="button-holder">
                <input type="button" [value]="'forgotpassword-complete.cancel' | localize" class="btn btn-default" (click)="cancel()" />
                <input type="submit" [value]="'forgotpassword-complete.submit' | localize" class="btn btn-primary" [disabled]="!(form.valid)" />
              </div>
              
              <div *ngIf="passwordIsReset" class="button-holder" style="margin-top: 10px;">
                <input type="button" style="margin-top: 10px;" [value]="'forgotpassword-complete.ok' | localize" class="btn btn-primary" (click)="cancel()" />
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
</div>
