<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2015 TerraFrame, Inc. All rights reserved.

    This file is part of Runway SDK(tm).

    Runway SDK(tm) is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    Runway SDK(tm) is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with Runway SDK(tm).  If not, see <http://www.gnu.org/licenses/>.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <newWizard
            name="%newwizard.name"
            icon="icons/new_oda_dswiz.ico"
            profile="%oda.data.source.id"
            description="%newwizard.description"
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            id="%oda.data.source.id">
      </newWizard>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.ui.connectionProfileImage">
      <profileImage
            icon="icons/profile.gif"
            profileID="%oda.data.source.id">
      </profileImage>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="%profile.propertypage.name"
            class="com.runwaysdk.geodashboard.oda.driver.ui.profile.GeodashboardPropertyPage"
            id="%oda.data.source.id">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
            </instanceof>
         </enabledWhen>
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="%oda.data.source.id">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI
            id="%oda.data.source.id">
         <newDataSourceWizard
               pageClass="com.runwaysdk.geodashboard.oda.driver.ui.profile.GeodashboardSelectionWizardPage"
               includesProgressMonitor="false"
               pageTitle="%wizard.data.source.page.title"
               windowTitle="%wizard.window.title">
         </newDataSourceWizard>
      </dataSourceUI>
      <dataSetUI
            supportsOutParameters="false"
            supportsInParameters="true"
            initialPageId="com.runwaysdk.geodashboard.oda.driver.dataSet.page1"
            id="com.runwaysdk.geodashboard.oda.driver.dataSet">
         <dataSetWizard
               class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
               windowTitle="%wizard.data.set.window.title">
         </dataSetWizard>
         <dataSetPage
               displayName="%wizard.data.set.page.title"
               icon="icons/datasetpage.ico"
               wizardPageClass="com.runwaysdk.geodashboard.oda.driver.ui.editors.GeodashboardDataSetEditorPage"
               path="/"
               id="com.runwaysdk.geodashboard.oda.driver.dataSet.page1">
         </dataSetPage>
      </dataSetUI>
   </extension>

</plugin>
