<div>
  <message ></message>
  
  <form class="modal-form" #form="ngForm" novalidate (ngSubmit)="form.valid && onSubmit()">    
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="heading">
          <h1><localize key="category.management.optionTitle"></localize></h1>
        </div>
        <fieldset>
          <div class="row-holder">
            <div class="label-holder">
              <label><localize key="category.management.option.label"></localize></label>
            </div>    
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="category.label" name="label" required>
              </span>
            </div>
          </div>
          <div class="row-holder" *ngIf="category.synonyms.length > 0">
            <div class="label-holder">
              <label><localize key="category.management.synonyms"></localize></label>
            </div>    
            <div class="holder" >
              <table class="list-table table table-bordered table-striped">
                <tbody>
                  <tr *ngFor="let synonym of category.synonyms" class="fade-ngRepeat-item">
                    <td class="button-column">
                      <a class="fa fa-undo ico-edit" [title]="'category.management.restoreTooltip' | localize"
                         confirm-modal 
                         [message]="'category.management.restoreConfirm' | localize"
                         (onConfirm)="restore(synonym)"></a>                      
                    </td>
                    <td class="label-column">
                      {{synonym.label}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row-holder">
            <div class="label-holder">
            </div>
            <div class="holder" >
              <div class="box">
                <label><localize key="category.management.createSynonym"></localize></label>
                <div class="select-box">
                  <select class="method-select" [(ngModel)]="action.synonym" name="synonym">
                    <option value=""></option>
                    <option *ngFor="let option of category.siblings" [value]="option.id">{{option.label}}</option>
                  </select>
                </div>
              </div>          
            </div>
          </div>
          <div class="row-holder">
            <div class="label-holder">
            </div>  
            <div class="holder">
              <div class="button-holder">
                <input type="button" [value]="'dataset.cancel' | localize" class="btn btn-default" (click)="cancel()" />              
                <input type="submit" [value]="'dataset.submit' | localize" class="btn btn-primary" [disabled]="!form.valid" />
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
</div>
