.confirm-overlay {
	z-index: 99998;
}

.confirm-modal {
	background: #fff;
	position: absolute;
	color: #222;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 99999;
}

.confirm-text {
	display: block;
	width: auto;
	min-height: 22px;
	max-height: none;
	height: auto;
}