<div id="innerFrameHtml">
    
    <!-- HEADER AND NAVBAR -->
    <header>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" [href]="context + '/menu'" [title]="'userMenu.menuTooltip' | localize"><img [src]="context + '/net/geoprism/images/splash_logo_icon.png'" /></a>
            <a class="navbar-brand" [href]="context + '/prism/management'"><localize key="data.management.title"></localize></a>
          </div>
          
          <ul class="nav navbar-nav navbar-right">
            <li dropdown>
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                <localize key="Data_Management"></localize><span class="caret"></span>
              </a>            
              <ul dropdownMenu class="dropdown-menu">
                <li role="menuitem"><a class="dropdown-item" routerLink="/datasets" routerLinkActive="active"><localize key="Data_Sets"></localize></a></li>
                <li role="menuitem"><a class="dropdown-item" routerLink="/icons" routerLinkActive="active"><i></i><localize key="Icons"></localize></a></li>
                <li role="menuitem"><a class="dropdown-item" routerLink="/categories" routerLinkActive="active"><i></i><localize key="Categories"></localize></a></li>
                <li *ngIf="isDhis2Enabled" role="menuitem"><a class="dropdown-item" routerLink="/dhis2" routerLinkActive="active"><i></i><localize key="DHIS2IdFinder"></localize></a></li>
                <li role="menuitem"><a class="dropdown-item" [href]="context + '/management#locations'"><i></i><localize key="location.management.title"></localize></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
        
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main" class="new-admin-design-main">
      <router-outlet></router-outlet>
    </div>
    
    <confirm-modal></confirm-modal>
</div>