<form #form="ngForm" name="form" class="modal-form">
  <div>
    <fieldset>
      <section class="form-container">



<div>
  <div class="wide-holder">
    <div class="row-holder">    
      <div class="inline-value">
        <label><localize key="dataUploader.locationContext"></localize></label>   
        <div class="label-help-ico-container">
          <i class="fa fa-question-circle help-info-ico" [title]="'dataUploader.locationContextHelpToolTip' | localize"></i>
        </div>   
      </div>
      <div class="inline-value">
        <label><localize key="dataUploader.unknownLocation"></localize></label>
        <div class="label-help-ico-container">
          <i class="fa fa-question-circle help-info-ico" [title]="'dataUploader.unknownLocationNameHelpToolTip' | localize"></i>
      </div>   
      </div>
      <div class="inline-combo">
        <label><localize key="dataUploader.synonymn"></localize></label>
        <div class="label-help-ico-container">
          <i class="fa fa-question-circle help-info-ico" [title]="'dataUploader.synonymSearchHelpToolTip' | localize"></i>
      </div> 
      </div>
      <div class="inline-actions">
        <label><localize key="dataUploader.actions"></localize></label>
        <div class="label-help-ico-container">
          <i class="fa fa-question-circle help-info-ico" [title]="'dataUploader.locationProblemActionsHelpToolTip' | localize"></i>
      </div> 
      </div>
    </div>  
    
    <div *ngFor="let problem of problems.locations; let i = index;">
      <geo-validation-problem [problem]="problem" [workbook]="workbook" [index]="i" [format]="format"></geo-validation-problem>
    </div>
  </div>
  <div class="wide-holder">
    <div class="error-message">
      <p *ngIf="hasProblems()"><localize key="dataUploader.existingProblems"></localize></p>
    </div>          
  </div>  
</div>


      </section>        
    </fieldset>   
    
    <paging [form]="form" [page]="page" [global]="!hasProblems()"></paging>
  </div>
</form>

