<form #form="ngForm" name="form" class="modal-form">
  <div>
    <fieldset>
      <section class="form-container">

<div>
  <div class="label-holder">
    <strong> </strong>
  </div>
  <div class="holder">
    <div class="row-holder">
      <p><localize key="dataUploader.titleUploadToExistingOrNewSubtitle"></localize></p>
    </div>
  </div>
  
  <div class="label-holder">
    <strong><localize key="dataUploader.existingDataset"></localize></strong>
  </div>
  <div class="holder">
    <ul id="match-datasets-list" class="list-group">   
        <li class="list-group-item" *ngFor="let match of sheet.matches">
          {{match.label}}            
      
          <div class="medium-icon-wrapper">
          <i class="fa fa-plus-square" (click)="select(match, false)" [title]="'dataUploader.selectDataset' | localize"></i>
        </div>
        <div class="medium-icon-wrapper">
          <i class="fa fa-minus-square" (click)="select(match, true)" [title]="'dataUploader.replaceDataset' | localize"></i>
        </div>
      </li>
    </ul>
  </div> 
</div>

      </section>        
    </fieldset>    
  </div>
</form>