<div class="row-holder" >
  <div class="label-holder"></div>      
  <div [ngClass]="page.layout">
    <div class="button-holder">
      <input
        type="button"
        [value]="'dashboard.Cancel' | localize"
        class="btn btn-default" 
        (click)="cancel()"
        [disabled]="busy"              
      />
      <input
        *ngIf="page.prev != null"            
        type="button"
        [value]="'dataUploader.previous' | localize"
        class="btn btn-primary" 
        [disabled]="busy"
        confirm-modal 
        [message]="'dataUploader.prevDialogContent' | localize"
        (onConfirm)="prev()"
        [enabled]="page.confirm" />        
      <input
        *ngIf="page.hasNext"      
        type="button"
        [value]="'dataUploader.next' | localize"
        class="btn btn-primary" 
        (click)="next()"
        [disabled]="!form.valid || !global"
      />
      <input 
        *ngIf="page.isReady"
        type="button"
        [value]="'dataUploader.import' | localize"
        class="btn btn-primary" 
        (click)="ready()"        
        [disabled]="!form.valid || !global" />      
    </div>
  </div>
</div>      
