<form #form="ngForm" name="form" class="modal-form">
  <div>
    <fieldset>
      <section class="form-container">



<div>
  <div class="label-holder">
    <strong> </strong>
  </div>
  <div class="holder">
    <div class="row-holder">
      <p><localize key="dataUploader.summary.heading.paragraph"></localize></p>
    </div>
  </div>
  <div *ngIf="texts.length > 0">
    <div class="label-holder">
      <strong><localize key="dataUploader.summaryTextLabel"></localize></strong>
    </div>
    <div class="holder">
      <div class="row-holder">
         <table class="table table-bordered" style="font-size:inherit;"> 
            <thead> 
              <tr>
                <th><localize key="dataUploader.summary.tableHeading.label"></localize></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let field of texts">
                <td>{{field.label}}</td>
              </tr>
            </tbody>
           </table>
      </div>
    </div>
  </div>

  <div *ngIf="categories.length > 0">
    <div class="label-holder">
      <strong><localize key="dataUploader.summaryCategoryLabel"></localize></strong>
    </div>
    <div class="holder">
      <div class="row-holder">         
           <table class="table table-bordered" style="font-size:inherit;"> 
            <thead> 
              <tr>
                <th><localize key="dataUploader.summary.tableHeading.label"></localize></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let field of categories">
                <td>{{field.label}}</td>
              </tr>
            </tbody>
           </table>
      </div>
    </div>
  </div>
  
  <div *ngIf="numbers.length > 0">
    <div class="label-holder">
      <strong><localize key="dataUploader.summaryNumberLabel"></localize></strong>
    </div>
    <div class="holder">
      <div class="row-holder">    
           <table class="table table-bordered" style="font-size:inherit;"> 
            <thead> 
              <tr>
                <th><localize key="dataUploader.summary.tableHeading.label"></localize></th>
                <th><localize key="dataUploader.summary.tableHeading.type.label"></localize></th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngFor="let field of numbers">
                <td>{{field.label}}</td>
                <td [ngSwitch]="field.type">
                    <div *ngSwitchCase="'LONG'"><localize key="dataUploader.long"></localize></div>
                    <div *ngSwitchCase="'DOUBLE'"><localize key="dataUploader.double"></localize></div>
                  </td>          
              </tr>
            </tbody>
           </table>
        </div>
    </div>
  </div>
   
  <div *ngIf="booleans.length > 0">
    <div class="label-holder">
      <strong><localize key="dataUploader.summaryBooleanLabel"></localize></strong>
    </div>
    <div class="holder">
      <div class="row-holder">   
           <table class="table table-bordered" style="font-size:inherit;"> 
            <thead> 
              <tr>
                <th><localize key="dataUploader.summary.tableHeading.label"></localize></th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngFor="let field of booleans">
                <td>{{field.label}}</td>
              </tr>
            </tbody>
           </table>
      </div>
    </div>
  </div>

  <div *ngIf="dates.length > 0">
    <div class="label-holder">
      <strong><localize key="dataUploader.summaryDateLabel"></localize></strong>
    </div>
    <div class="holder">
      <div class="row-holder">            
           <table class="table table-bordered" style="font-size:inherit;"> 
            <thead> 
              <tr>
                <th><localize key="dataUploader.summary.tableHeading.label"></localize></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let field of dates">
                <td>{{field.label}}</td>
              </tr>
            </tbody>
           </table>
      </div>
    </div>
  </div>
   
  <div *ngIf="hasFieldType('LOCATION')">
    <div class="label-holder">
      <strong><localize key="dataUploader.summaryTextLocationLabel"></localize></strong>
    </div>
    <div class="holder">
      <div class="row-holder">         
           <table class="table table-bordered" style="font-size:inherit;"> 
            <thead> 
              <tr>
                <th><localize key="dataUploader.summary.tableHeading.label"></localize></th>
                <th><localize key="dataUploader.summary.tableHeading.textLocRefFields.label"></localize></th>
              </tr>
            </thead>
            <tbody> 
            
              <!-- TEXT BASED LOCATION FIELDS -->
              <tr *ngFor="let key of sheet.attributes.values | keys">
                  <td>{{key.value.label}}</td>
                  <td>
                    <table class="table table-bordered location-summary-sub-table"> 
                      <tbody>
                        <tr *ngFor="let universal of universalMap[key.value.id]">
                          <td>{{key.value.fields[universal.value]}}</td>
                        </tr> 
                      </tbody>
                    </table>
                  </td>
              </tr>  
            </tbody>
           </table>
        </div>
     </div>
  </div>
    
  <div *ngIf="hasFieldType('LATITUDE') && hasFieldType('LONGITUDE')">
    <div class="label-holder">
      <strong><localize key="dataUploader.summaryCoordinateLabel"></localize></strong>
    </div>
    <div class="holder">
      <div class="row-holder">        
           <table class="table table-bordered" style="font-size:inherit;"> 
            <thead> 
              <tr>
                <th><localize key="dataUploader.summary.tableHeading.label"></localize></th>
                <th><localize key="dataUploader.summary.tableHeading.coordLocRefFields.label"></localize></th>
              </tr>
            </thead>
            <tbody> 
            
              <!-- COORDINATE LOCATION FIELDS -->
              <tr *ngFor="let coordinate of sheet.coordinates">
                  <td>{{coordinate.label}}</td>
                  <td> 
                    <table class="table table-bordered location-summary-sub-table"> 
                    <thead> 
                      <tr>
                        <th><localize key="dataUploader.summary.tableHeading.label"></localize></th>
                        <th><localize key="dataUploader.summary.tableHeading.refField.label"></localize></th>
                      </tr>
                    </thead>
                      <tbody>
                        <tr><td><localize key="dataUploader.latitude"></localize></td><td>{{coordinate.latitude}}</td></tr>
                        <tr><td><localize key="dataUploader.longitude"></localize></td><td>{{coordinate.longitude}}</td></tr>
                        <tr><td><localize key="dataUploader.featureLabel"></localize></td><td>{{coordinate.featureLabel}}</td></tr>
                        <tr *ngIf="coordinate.location != 'DERIVE'"><td><localize key="dataUploader.locationAttribute"></localize></td><td>{{coordinate.location}}</td></tr>
                        <tr *ngIf="coordinate.location == 'DERIVE'"><td><localize key="dataUploader.locationAttribute"></localize></td><td><localize key="dataUploader.deriveLocation"></localize></td></tr>
                        <tr *ngIf="coordinate.location == 'DERIVE'"><td><localize key="dataUploader.associatedUniversal"></localize></td><td>{{labels[coordinate.universal]}}</td></tr>
                      </tbody>
                    </table>
                </td>      
              </tr>        
            </tbody>
           </table>
        </div>
    </div>
  </div>
</div>


      </section>        
    </fieldset>   
    
    <paging [form]="form" [page]="page"></paging>
  </div>
</form>

