/****** 
**** All CSS below are additions to all.css
*******/

body{
	overflow: hidden;
}

#main-content-frame {
	float:right;
	position:relative;
	width:100%;
	height:100%;
  	border: none;
}

body.iFrameBody {
  overflow: auto;
}

div.pageContent {
	padding:13px 25px 0 25px;
	height: 100%;
}

a.opener.apply-filters-button {
	position: absolute;
	bottom: 20px;
	left: 40%;
}

/* TODO : This is a scheduler CSS override, it should be put in a separate file maybe. */
textarea#description{float:left;}

#usersTable {
	margin-left: 0;
	width: 100%;
	overflow-x: auto;
}


table.com-runwaysdk-ui-factory-generic-datatable-DataTable.com-runwaysdk-ui-factory-runway-Widget.com-runwaysdk-ui-factory-jquery-datatable-DataTable.dataTable {
  margin-left: 0;
  width: 100%;
}  


/* custom radio styles */
div.row-holder .chk-area,
div.row-holder .rad-area{
  margin:0px 11px 0 0;
}

div.standby-overlay {
  background-color: #CCCCCC;
  background-image:url('../images/transparent_spinner.gif');
  background-repeat:no-repeat;
  background-position:center center;
  position: absolute; 
  display: block;
  opacity: 0.5
}


.reporticng-container{
  display:none;
}

.submit-form .field-row {
  padding: 0 0 5px 20px;
}

.submit-form .label-text, .submit-form label {
  width: 225px;
}

.submit-form h2 {
  margin-top: 10px;
}

.aside-nav .panel-collapse a.link-active {
	color: #00bfff;	
}
	
a.link-active {
	color: #00bfff;	
}

/* Styles related to page loading busy spinner effect */
body.iFrameBody {
	background-color: inherit;
}
div.gdb-maincontent-busy {
  background-color: #CCCCCC;
  background-image:url('../images/transparent_spinner.gif');
  background-repeat:no-repeat;
  background-position:center center;
  position: absolute; 
  display: block;
  top:0px;
  left:275px;
  right:0px;
  height: 100%;
  opacity: 0.5;
}


/* .aside-nav a:hover, */
/* .aside-nav a:focus, */
/* .aside-nav a:active{color:red;} */


/*** 
** Accordion for map layer checkboxes
***/
div.accordion-group.sales-accortion {
	margin-left: 0px;
}

div#baseLayerContainer.accordion-inner.holder {
	top: 3px;
}

a.map-layers-opener.opener {
	font-size: 15px;
	line-height: 15px;
	font-weight: normal;
	color: #bababa;
}

#base-map-container .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}   


/* Color Picker */
.colpick{
	position: absolute;
	z-index: 9999;
} 

.checkbox-container{
	display: block;
	height: 20px;
	margin-top: 7px;
}

.com-runwaysdk-ui-factory-runway-checkbox-CheckBox.com-runwaysdk-ui-factory-runway-Widget.checked {
	border-color:#02789e;
	background:#00bfff url(../images/sprite.png) no-repeat -43px -20px;
	float: left;
	display: block;
/* 	margin-right: 7px; */
	margin-top: 0 !important;
}

.com-runwaysdk-ui-factory-runway-checkbox-CheckBox.com-runwaysdk-ui-factory-runway-Widget {
	border-color:#02789e;
	float: left;
	display: block;
	margin-right: 7px;
	margin-top: 0 !important;
}

.checkbox-label {
	float: left;
	display: block;
	margin-left: 7px;
}



/*** 
** Legend
***/

.legend-container {
	position: absolute;
	float: left;
	left: 300px;
	background: rgba(0, 0, 0, 0.8);
	border: solid black 1px;
	z-index: 999;	
	cursor: move;
/* 	margin: 5px 5px 5px auto; */
}

#legend-container-group {
	z-index: 999;
	position: absolute;
	right: 300px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.8);
	border: solid black 1px;
}

.legend-item{
	padding: 3px;
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
	color: #ececec;
	background: rgba(255,255,255,0.05);
	border: solid 2px rgba(0, 0, 0, 0.30);
	border-bottom: solid 1px rgba(0, 0, 0, 0.30);
	border-top: solid 1px rgba(0, 0, 0, 0.30);
}

ul#legend-list{
    list-style-type: none;
    padding: 2px;
    margin: 2px;
}

ul#legend-list-group{
    list-style-type: none;
    padding: 2px;
    margin: 2px;
}

a.legend-opener.opener{
	font-size:15px;
	line-height:15px;
	font-weight:normal;
	color:#bababa;
	margin:5px;
	margin-top: 5px;
	text-align: center;
	display: block;
}

.legend-image{
	margin-right: 10px;
}


