/****** 
**** All CSS below are additions 
*******/

body{
	overflow: hidden;
}

#main-content-frame {
	float:right;
	position:relative;
	width:100%;
	height:100%;
  	border: none;
}

body.iFrameBody {
  overflow: auto;
}

div.pageContent {
	padding:13px 25px 0 25px;
}

/* TODO : This is a scheduler CSS override, it should be put in a separate file maybe. */
textarea#description{float:left;}

#usersTable {
	margin-left: 0;
	width: 100%;
	overflow-x: auto;
}


table.com-runwaysdk-ui-factory-generic-datatable-DataTable.com-runwaysdk-ui-factory-runway-Widget.com-runwaysdk-ui-factory-jquery-datatable-DataTable.dataTable {
  margin-left: 0;
  width: 100%;
}  


/* custom radio styles */
div.row-holder .chk-area,
div.row-holder .rad-area{
  margin:0px 11px 0 0;
}

div.standby-overlay {
  background-color: #CCCCCC;
  background-image:url('../images/transparent_spinner.gif');
  background-repeat:no-repeat;
  background-position:center center;
  position: absolute; 
  display: block;
  opacity: 0.5
}


.reporticng-container{
  display:none;
}

.submit-form .field-row {
  padding: 0 0 5px 20px;
}

.submit-form .label-text, .submit-form label {
  width: 225px;
}

.submit-form h2 {
  margin-top: 10px;
}

.aside-nav .panel-collapse a.link-active {
	color: #00bfff;	
}
	
a.link-active {
	color: #00bfff;	
}

/* Styles related to page loading busy spinner effect */
body.iFrameBody {
	background-color: inherit;
}
div.gdb-maincontent-busy {
  background-color: #CCCCCC;
  background-image:url('../images/transparent_spinner.gif');
  background-repeat:no-repeat;
  background-position:center center;
  position: absolute; 
  display: block;
  top:0px;
  left:275px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}


/* .aside-nav a:hover, */
/* .aside-nav a:focus, */
/* .aside-nav a:active{color:red;} */



