/* ---------------------------------------------------------
	Map styles
	---------------------------------------------------------*/
.dynamicMap {
	width: 100%;
	height: 100%;
}

/* custom radio styles */
div.row-holder .chk-area, div.row-holder .rad-area {
	margin: 0px 11px 0 0;
}

/***** 
**** Leaflet overrides 
******/
.leaflet-top, .leaflet-bottom {
	position: absolute;
	z-index: 10;
	pointer-events: none;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
	margin-left: 245px;
	margin-top: 0px;
	top: 23px;
	box-shadow: none;
	border: solid 1px #ddd;
}

.leaflet-bar a:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: rgba(0, 0, 0, 0.7);
	width: 35px;
	height: 35px;
	line-height: 33px;
}

.leaflet-bar a:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	color: rgba(0, 0, 0, 0.7);
	width: 35px;
	height: 35px;
	line-height: 33px;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
	font: bold 30px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
}

a.leaflet-control-zoom-out:hover, a.leaflet-control-zoom-in:hover {
	color: #00bfff;
	background-color: #fff;
}

h3.popup-heading {
	margin: 0;
	text-align: center;
	color: #666666;
	font-weight: bold;
}

.popup-table-heading {
	font-style: italic;
}

.leaflet-popup-content p {
	margin: 0;
}

.leaflet-bottom.leaflet-right {
	bottom: 30px;
    right: 300px;
}

.gmnoprint {
	bottom: 30px !important;
	right: 371px !important;
}

.gmnoprint.gm-style-cc {
	bottom: 30px !important;
	right: 300px !important;
}

/***** 
**** UX team delivery overrides (relevant to map page)
******/
.control-form h3 {
	font-size: 15px;
}

.control-form {
	width: 235px;
	padding: 0 0 0 0;
}