<div id="app-container" class="container">

  <message></message>

  <h2> <localize key="accounts.title"></localize> </h2>
  
  <div class="list-table-wrapper">
	  <table id="manage-datasets-table" class="list-table table table-bordered table-striped">        
	    <thead>
	      <tr>
	        <th></th>
	        <th class="label-column"><localize key='account.username'></localize></th>
	        <th class="label-column"><localize key='account.firstname'></localize></th>
	        <th class="label-column"><localize key='account.lastname'></localize></th>
	        <th class="label-column"><localize key='account.email'></localize></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr *ngFor="let account of res.resultSet | paginate: { itemsPerPage: 10, currentPage: p, totalItems: res.count }" class="fade-ngRepeat-item">
	        <td class="button-column">
	          <a class="fa fa-pencil ico-edit" (click)="edit(account, $event)" [title]="'account.editTooltip' | localize"></a>                             
	          <a class="fa fa-trash-o ico-remove" [title]="'account.removeTooltip' | localize"
	             confirm-modal 
	             [message]="'account.removeContent' | localize"
	             (onConfirm)="remove(account, $event)"></a>
	        </td>
	        <td class="label-column"> {{ account.username }} </td>
	        <td class="label-column"> {{ account.firstName }} </td>
	        <td class="label-column"> {{ account.lastName }} </td>
	        <td class="label-column"> {{ account.email }} </td>
	      </tr>
	    </tbody>    
	  </table>
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>	  
   </div>   
</div>
