/**
 * Relationships
 */
  /* Allowed In */
    
  /* End Allowed In */
  /* IsA */
    .jstree-default li.jstree-node.com-runwaysdk-system-gis-geo-IsA > i,
    .jstree-default li.jstree-node.com-runwaysdk-system-gis-geo-IsA > i.jstree-icon {
      background-image: url("32px-solid.png");
    }
    .jstree-default li.jstree-node.com-runwaysdk-system-gis-geo-IsA,
    .jstree-default li.jstree-icon.com-runwaysdk-system-gis-geo-IsA {
      background-image: url("32px-solid.png");
      background-position: -292px -4px;
      background-repeat: no-repeat;
    }
  /* End IsA */
  
  .jstree-default li.jstree-node {
    background-position: -292px -4px;
    background-repeat: repeat-y !important;
  }
  
  .jstree-default .jstree-leaf>.jstree-ocl {
    background-position: -68px -4px !important;
  }
  .jstree-default li.jstree-last {
    background: 0 0 !important;
  }
  .jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url("../../../../jstree/throbber.gif") center center no-repeat !important;
}
/* End Relationship */

/**
 * Checkbox
 */
.jstree-node > .jstree-anchor > .jstree-icon.jstree-checkbox.jstree-undetermined {
	background-color: #00bfff;
	border-color: #02789e;
}
.jstree-anchor > .jstree-icon.jstree-checkbox {
  border: 1px solid #a6a6a6;
  background: #eee;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.jstree-clicked > .jstree-icon.jstree-checkbox {
	background-image: url(../images/sprite.png);
	background-position: -43px -20px;
	background-repeat: no-repeat;
	border-color: #02789e;
}
/* .jstree-anchor > .jstree-icon.jstree-checkbox:hover, */
.jstree-anchor.jstree-hovered > .jstree-icon.jstree-checkbox {
	background-position: -43px -20px;
	border-color: #019edc;
}

.jqtree-checkbox.com-runwaysdk-ui-factory-runway-checkbox-CheckBox.com-runwaysdk-ui-factory-runway-Widget{
/* 	  margin-right: 10px; */
/* 	  width: auto; */
/* 	  display: inline-block; */
}

span.jqtree_common.jqtree-title {
/*   display: inline-block; */
}

.jqtree_common.jqtree-toggler{
/* 	display: inline-block; */
}

.jqtree-element.jqtree_common{
	width: auto !important;
}
 
 .jqtree-checkbox.com-runwaysdk-ui-factory-runway-checkbox-CheckBox.com-runwaysdk-ui-factory-runway-Widget{
/*  	width: 18px; */
/*  	height: 18px; */
	margin-top: 2px !important;
 }
 
.gdb-attr-filter ul.jqtree-tree .jqtree-toggler {
    color: rgb(255, 255, 255);
}

/* Hide jsTrees context menu */
/* ul.vakata-context.jstree-contextmenu.jstree-default-contextmenu { */
/* 	visibility: hidden; */
/* } */
/* Hide jsTrees context menu */
