<div id="login-page" class="new-admin-design-main">
    <login-header></login-header>

    <message></message>
    <div id="app-container" class="container">
 
        <div class="col-md-4 col-sm-4 col-xs-2"></div>
        <div class="col-md-4 col-sm-4 col-xs-8">
            <div class="row-fluid">

                <form id="login-form" class="login" #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
                    <div id="login-input-container">
                        <div class="row">
                            <input [(ngModel)]="username" name="username" type="text" [placeholder]="'login.username' | localize"
                                id="login" required />
                            <input [(ngModel)]="password" name="password" type="password" [placeholder]="'login.password' | localize"
                                id="password" required />
                            <a routerLink="/forgotpassword" class="forgot-password">
                                <localize key="login.forgotPassword"></localize>
                            </a>
                        </div>
                        <!-- <p class="login-submit"> -->
                        <div class="row">
                          <button type="submit" id="login-btn" class="btn btn-primary" [disabled]="!(form.valid)">
                            <localize key="login.button"></localize>
                          </button>
                        </div>
                        <!-- </p> -->
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-2"></div>
    </div>
</div>

