<style>
#main {
  overflow-y: auto;
  height: 90vh;
}
</style>

<div id="app-container" class="container">

  <message ></message>

  <h2> <localize key="dhis2.id.finder.title"></localize> </h2>
  
  <div *ngIf="programs === null">
    <localize key='dataset.loadingData'></localize>
  </div>
  <div class="list-table-wrapper" style="overflow-y:visible;max-height: 100%;">
    <table id="programs-table" class="list-table table table-bordered table-striped">        
      <thead>
        <tr>
          <th class="label-column"><localize key='program.name'></localize></th>
          <th class="label-column"><localize key='program.id'></localize></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let program of programs" class="fade-ngRepeat-item">
          <td class="label-column"> {{ program.name }} </td>
          <td class="description-column"> {{program.id}} </td>
        </tr>
      </tbody>    
    </table>
   </div>
   
   <div class="list-table-wrapper" style="overflow-y:visible;max-height: 100%;">
    <table id="tracked-entity-table" class="list-table table table-bordered table-striped">        
      <thead>
        <tr>
          <th class="label-column"><localize key='trackedentity.name'></localize></th>
          <th class="label-column"><localize key='trackedentity.id'></localize></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trackedentity of trackedentities" class="fade-ngRepeat-item">
          <td class="label-column"> {{ trackedentity.name }} </td>
          <td class="description-column"> {{trackedentity.id}} </td>
        </tr>
      </tbody>    
    </table>
   </div>
   
   <div class="list-table-wrapper" style="overflow-y:visible;max-height: 100%;">
    <table id="tracked-entity-attribute-table" class="list-table table table-bordered table-striped">        
      <thead>
        <tr>
          <th class="label-column"><localize key='trackedentityattribute.name'></localize></th>
          <th class="label-column"><localize key='trackedentityattribute.id'></localize></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trackedentityattribute of trackedentityattributes" class="fade-ngRepeat-item">
          <td class="label-column"> {{ trackedentityattribute.name }} </td>
          <td class="description-column"> {{trackedentityattribute.id}} </td>
        </tr>
      </tbody>    
    </table>
   </div>
</div>
